node_modules/
!node_modules/ep_user_pad/
!node_modules/ep_user_pad_frontend/
node_modules/ep_user_pad_frontend/temp_*
etherpad-rrze
settings.json
!settings.json.template
APIKEY.txt
SESSIONKEY.txt
bin/abiword.exe
bin/node.exe
etherpad-lite-win.zip
var/dirty.db
bin/convertSettings.json
*~
*.patch
src/static/js/jquery.js
npm-debug.log
*.DS_Store
.ep_initialized
*.crt
*.key
bin/etherpad-1.deb
